<div class="container">
    <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap">
        <div class="d-flex align-items-center">
            <label for="scriptSelector" class="mr-2 font-weight-bold">Choose Template:</label>
            <select id="scriptSelector" ng-model="selectedScript" ng-change="loadScript()"
                class="form-control w-auto mr-3">
                <option value="" disabled>Select a script</option>
                <option ng-repeat="script in scripts" ng-value="script.template">{{ script.displayName }}</option>
            </select>
        </div>
        <div>
            <button class="btn btn-primary mr-2" ng-click="exportPDF()" ng-disabled="!selectedScript">Export
                PDF</button>
            <div ng-if="selectedScript === 'Static-Files/translation-form.js'" class="d-flex align-items-center mb-3">
                <label for="languageSelect" class="mr-2 font-weight-bold">Choose a Language:</label>
                <button class="btn btn-secondary mr-2" ng-click="setLanguage('en')">English</button>
                <button class="btn btn-secondary" ng-click="setLanguage('jp')">Japanese</button>
            </div>
        </div>
    </div>
    <div id="preview" class=""></div>
</div>