<div class="row align-items-end">
    <div class="col-md-3">
        <label for="scriptSelector" class="mr-2">Choose Template:</label>
        <select id="scriptSelector" ng-model="selectedScript" ng-change="loadScript()"
            class="form-control d-inline-block w-auto">
            <option value="" disabled>Select a script</option>
            <option ng-repeat="script in scripts" ng-value="script.template">
                {{script.displayName}}
            </option>
        </select>
    </div>
    <div class="col-md-3" style="padding-top: 30px;">
        <button class="btn btn-default" ng-click="previewFormPreBuildedForm()" ng-disabled="!selectedScript">Pre-Builded
            Form Preview</button>
    </div>
    <div class="col-md-3" style="padding-top: 30px;">
        <button class="btn btn-default" ng-click="exportPDF()" ng-disabled="!selectedScript">Export PDF</button>
    </div>
</div>
<div class="">
    <div class="container">
        <!-- <div id="preview" class="border p-3"></div> -->
        <div id="preview" ></div>
        <div ng-if="formRendered && selectedScript" class="form-actions mb-3">
            <button class="btn btn-primary d-inline-block" ng-click="submitForm()">Submit Form</button>
            <!-- <button class="btn btn-danger d-inline-block" ng-click="resetPreview()">Reset Preview</button> -->
            <!-- <button class="btn btn-warning d-inline-block" ng-click="externalSubmit()">External Submit Button</button> -->
        </div>
    </div>
</div>
