body {
    font-family: "Arial", sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: left !important;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

label,
.control-label,
.help-block,
.checkbox,
.radio {
    font-size: 17px;
    font-weight: normal;
}

.form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-sm {
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

label {
    font-size: 0.875rem;
    margin-bottom: 0;
}

#preview input:not([type="checkbox"]):not([type="range"]),
#preview select,
#preview textarea {
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
    background-color: #fff; /* Ensure background is white */
    padding:5px 10px !important
}
select {
    min-width: 180px;
}

.d-flex {
    gap: 10px;
}

.component-edit-container .float-right a {
    display: none;
}